.professor-list {
    .header {
        h2 {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .highlight {
            color: #ff0000;
        }

        p {
            margin: 10px 0;
            color: #555;
        }
    }

    .professor-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        margin: 20px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;

        .professor-info {
            h3 {
                font-size: 1.3rem;
                margin: 0;
            }

            p {
                margin: 5px 0;
            }
        }

        .rating-info {
            display: flex;
            align-items: center;

            .quality {
                font-size: 2rem;
                background-color: #ffd700;
                padding: 10px;
                border-radius: 5px;
                margin-right: 20px;
            }

            .details {
                p {
                    margin: 5px 0;
                }
            }
        }
    }
}